{% extends 'base.html' %}

{%block 'content'%}
<h1 class="mt-5">Produtos</h1>
<style>
    body {
    font-size : 20px;
    background: #1C1C1C;
    color: #ADD8E6;
    }
</style>

    <table class="table">
        <thead>
        <tr>
            <th><FONT COLOR="#836FFF">CÓDIGO</FONT></th>
            <th><FONT COLOR="#836FFF">PRODUTO</FONT></th>
            <th><FONT COLOR="#836FFF">PREÇO</FONT></th>
            <th><FONT COLOR="#836FFF">DESCRIÇÃO</FONT></th>
            <th><FONT COLOR="#836FFF">QUANTIDADE ESTOQUE</FONT></th>
    
        </tr>
        </thead>
        <tbody>
       
        {% for prod in produto %} 
            <tr>
            <td><FONT COLOR="#7DCCFF">{{produto.id}}</FONT></td>
            <td><a href="{% url 'ver_produto' produto.id %}">{{produto.nome}}</a></td>
            <td><FONT COLOR="#7DCCFF">{{produto.descricao}}</FONT></td>
            <td><FONT COLOR="#7DCCFF">{{produto.preco}}</FONT></td>
            <td><FONT COLOR="#7DCCFF">{{produto.qtd_estoque}}</FONT></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in funcionario.paginator.page_range %}
            {%if funcionario.number == pagina%}
                <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
            {%else%}
                <li class="page-item"><a class="page-link" href="?p={{ pagina }}&termo={{request.GET.termo}}">{{ pagina }}</a></li>
            {%endif%}
        {% endfor %}
    </ul>
</nav>

{%endblock%}
