{% extends 'base.html' %}

{%block 'content'%}
<h1 class="mt-5">Minha agenda</h1>
<style>
    body {
    font-size : 20px;
    background: #1C1C1C;
    color: #ADD8E6;
    }
</style>

    <table class="table">
        <thead>
        <tr>
            <th><FONT COLOR="#836FFF">ID</FONT></th>
            <th><FONT COLOR="#836FFF">Nome</FONT></th>
            <th><FONT COLOR="#836FFF">Sobrenome</FONT></th>
            <th><FONT COLOR="#836FFF">Telefone</FONT></th>
            <th><FONT COLOR="#836FFF">Categoria</FONT></th>
        </tr>
        </thead>
        <tbody>
        {% for contato in contatos %}
            <tr>
            <td><FONT COLOR="#7DCCFF">{{contato.id}}</FONT></td>
            <td><a href="{% url 'ver_contato' contato.id %}">{{contato.nome}}</a></td>
            <td><FONT COLOR="#7DCCFF">{{contato.sobrenome}}</FONT></td>
            <td><FONT COLOR="#7DCCFF">{{contato.telefone}}</FONT></td>
            <td><FONT COLOR="#7DCCFF">{{contato.categoria}}</FONT></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for pagina in contatos.paginator.page_range %}
            {%if contatos.number == pagina%}
                <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">{{ pagina }}</a></li>
            {%else%}
                <li class="page-item"><a class="page-link" href="?p={{ pagina }}&termo={{request.GET.termo}}">{{ pagina }}</a></li>
            {%endif%}
        {% endfor %}
    </ul>
</nav>

{%endblock%}