{%extends 'base.html'%}

{%block 'titulo'%}
{{contato.nome}} |
{%endblock%}


{%block 'content'%}
<style>
    body {
    font-size : 20px;
    background: #1C1C1C;
    color: #DCA6FF;
    }
</style>
<h1 class="mt-5">{{contato.nome}}</h1>

{% if contato.foto %}
<p>
    <img src="{{contato.foto.url}}" style="max-width:150px; height: auto; ">
</p>
{% endif %}

<dl>
    <dt>CPF</dt>
    <dd>{{cpf}}</dd>

    <dt>Telefone</dt>
    <dd>{{contato.telefone}}</dd>

    <dt>nome</dt>
    <dd>{{funcionario.nome}}</dd>

    <dt>Data admissão</dt>
    <dd>{{funcionario.data_admissao|date:'d/m/y'}}</dd>

    <dt>Salário</dt>
    <dd>{{funcionario.salario}}</dd>

    <dt>Descrição</dt>
    <dd>{{contato.descricao}}</dd>
</dl>
{%endblock%}